body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h2 {
    color: #004080;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
/* styles.css */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    background-color: #f7f7f7;
    color: #333;
}

h1, h2, h3 {
    color: #000000;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.8em;
}

p {
    line-height: 1.6;
}

a {
    color: #0066cc;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #004080;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #004080;
    color: #fff;
    padding: 20px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #2b06cf;
    margin: 0 15px;
    font-size: 1.2em;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 40px 0;
}

.project {
    margin-bottom: 40px;
}

.project img {
    max-width: 100%;
    height: auto;
}

.project-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.project-description {
    font-size: 1.2em;
    line-height: 1.5;
    color: #666;
}

footer {
    background-color: #004080;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav a {
        margin: 10px 0;
    }
}

